<div class="span8">
	<h1>Choose a size:</h1>
	<div class="row">
		<div class="med-rect">300x250</div>
	</div>
	<div class="row">
		<div class="rect"></div>
	</div>
	<div class="row">
		<div class="wide-sky"></div>
	</div>
	<div class="row">
		<div class="leaderboard"></div>
	</div>
</div>