<link rel="stylesheet" type="text/css" href="/assets/widget-bootstrap.min.css" />
<div id='donors-choose-widget' class='med-rect'>
  <h2 class="school-name">{{formatted_name}}<span>{{formatted_school}}</span></h2>
  <p class="description">{{short_description}}</p>
  <div class="progress progress-success progress-striped donations-bar-wrapper">
    <div class="bar donations-bar" style="width: {{percent_funded}}%;"></div>
  </div>
  <div class="donations">
    <span class="given">${{funding_needed}}</span>
     of <span class="needed">${{total_price}}</span> donated!
  </div>
  <a class="donate btn-large btn-danger pull-right" href="{{fund_url}}" target="_blank">Donate</a>
  <a href="http://donorschoose.org" target="_blank" class="pull-left">
      <img src="http://cdn.donorschoose.net/images/header/donorschoose_org.gif" id="logo"/>
  </a>
</div>