<div >
  <h2 class="school-name">{{school_name}}</h2>
  <img src="" />
  <div class="progress progress-success progress-striped active donations-bar-wrapper">
    <div class="bar donations-bar" style="width: 40%;"></div>
  </div>
  <div class="donations"><span class="given"></span> of <span class="needed">$248</span> donated!</div>
  <p class="description">{{description}}</p>
  <button class="donate btn-large btn-danger pull-right">Donate</button>
  <a href="http://donorschoose.org" target="_blank">
      <img src="http://thesociallyconsciousblog.org/wp-content/uploads/2010/10/DonorsChoose_org_logo.jpg"/>
  </a>
</div>


// <script type="text/html" id= 'widget_template'>

// </script>