<link rel="stylesheet" type="text/css" href="/assets/widget-bootstrap.min.css" />
<div id='donors-choose-widget'>
  <h2 class="school-name">{{school}}</h2>
  <img src='{{image_url}}' />
  <div class="progress progress-success progress-striped active donations-bar-wrapper">
    <div class="bar donations-bar" style="width: {{percent_funded}}%;"></div>
  </div>
  <div class="donations">
    <span class="given">${{funding_needed}}</span>
     of <span class="needed">${{total_price}}</span> donated!
   </div>
  <p class="description">{{short_description}}</p>
  <button class="donate btn-large btn-danger pull-right">Donate</button>
  <a href="http://donorschoose.org" target="_blank">
      <img src="http://thesociallyconsciousblog.org/wp-content/uploads/2010/10/DonorsChoose_org_logo.jpg"/>
  </a>
</div>