<link rel="stylesheet" type="text/css" href="/assets/widget-bootstrap.min.css" />
<div id='donors-choose-widget' class='wide-sky'>
  <h2 class="school-name">{{formatted_name}}</h2>
  <img src='{{image_url}}' />
  <div class="progress progress-success progress-striped donations-bar-wrapper">
    <div class="bar donations-bar" style="width: {{percent_funded}}%;"></div>
  </div>
  <div class="donations">
    <span class="needed">${{cost_to_complete}}</span> to go!
   </div>
  <p class="description">{{short_description}}</p>
  <a class="donate btn-large btn-danger pull-right" href="{{fund_url}}" target="_blank">Donate</a>
  <a href="http://donorschoose.org" target="_blank">
      <img src="http://cdn.donorschoose.net/images/header/donorschoose_org.gif"/>
  </a>
</div>