<div class="overflow">
  <table>
    <tr>
    <% @widgets.each do |widget| %>
      <td>
      <%= render partial: "embeds/widget_css", locals: { :widget => widget } %>
      <%= render partial: "templates/widget_#{widget.size}", locals: { :widget => widget } %>
      </td>
    <% end %>
    </tr>
  </table>
</div>