---
http_interactions:
- request:
    method: get
    uri: http://api.donorschoose.org/common/json_feed.html?APIKey=DONORSCHOOSE&highLevelPoverty=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Content-Language:
      - en-US
      X-N:
      - S
    body:
      encoding: US-ASCII
      string: ! "\r\n \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\t\r\n\r\n\t
        \ \t\r\n\r\n\r\n\r\n\r\n\r\n{\n  \"searchTerms\": \"High Level of Poverty\",\n
        \ \"searchURL\": \"http://www.donorschoose.org/donors/search.html?highLevelPoverty=true&amp;utm_source=api&amp;utm_medium=feed&amp;utm_content=searchlink&amp;utm_campaign=DONORSCHOOSE\",\n
        \ \"totalProposals\": \"10882\",\n  \"index\": \"0\",\n  \"max\": \"10\",\n
        \ \"proposals\": [\n    {\n      \"id\": \"776624\",\n      \"proposalURL\":
        \"http://www.donorschoose.org/project/enticing-reading-corner/776624/?utm_source=api&amp;utm_medium=feed&amp;utm_content=bodylink&amp;utm_campaign=DONORSCHOOSE\",\n
        \     \"fundURL\": \"https://secure.donorschoose.org/donors/givingCart.html?proposalid=776624&amp;donationAmount=&amp;utm_source=api&amp;utm_medium=feed&amp;utm_content=fundlink&amp;utm_campaign=DONORSCHOOSE\",\n
        \     \"imageURL\": \"http://cdn.donorschoose.net/images/user/uploads/small/u157548_sm.jpg?timestamp=1332343725905\",\n
        \     \"title\": \"Enticing Reading Corner\",\n      \"shortDescription\":
        \"I encourage my students to read for pleasure, and I read aloud to my students.
        \ Many of my students come to me with little experience listening to adults
        reading to them.  Also, many aren&#039;t...\",\n      \"fulfillmentTrailer\":
        \"My students need a carpet for a cozy, comfortable place to sit and read.\",\n
        \     \"percentFunded\": \"72\",\n      \"costToComplete\": \"77.45\",\n      \"matchingFund\":
        {\n        \"matchingKey\": \"\",\n        \"name\": \"\",\n        \"logoURL\":
        \"\",\n        \"faqURL\": \"\",\n        \"amount\": \"0.00\"\n      },\n
        \     \"totalPrice\": \"273.45\",\n      \"freeShipping\": \"false\",\n      \"teacherName\":
        \"Mrs. Joseph\",\n      \"gradeLevel\": {\n        \"id\": \"1\",\n        \"name\":
        \"Grades PreK-2\"\n      },\n      \"povertyLevel\": \"High Poverty\",\n      \"schoolName\":
        \"Cornell School\",\n      \"city\": \"Coraopolis\",\n      \"zip\": \"15108-2977\",\n
        \     \"state\": \"PA\",\n      \"latitude\": \"40.509170000000000\",\n      \"longitude\":
        \"-80.168028000000000\",\n      \"zone\": {\n        \"id\": \"113\",\n        \"name\":
        \"Pennsylvania\"\n      },\n      \"subject\": {\n        \"id\": \"10\",\n
        \       \"name\": \"Literacy\",\n        \"groupId\": \"6\"\n      },\n      \"resource\":
        {\n        \"id\": \"6\",\n        \"name\": \"Other\"\n      },\n      \"expirationDate\":
        \"2012-08-19\",\n      \"fundingStatus\": \"needs funding\"\n    },\n    {\n
        \     \"id\": \"770557\",\n      \"proposalURL\": \"http://www.donorschoose.org/project/digital-document-learning/770557/?utm_source=api&amp;utm_medium=feed&amp;utm_content=bodylink&amp;utm_campaign=DONORSCHOOSE\",\n
        \     \"fundURL\": \"https://secure.donorschoose.org/donors/givingCart.html?proposalid=770557&amp;donationAmount=&amp;utm_source=api&amp;utm_medium=feed&amp;utm_content=fundlink&amp;utm_campaign=DONORSCHOOSE\",\n
        \     \"im[...]
