// Place all the styles related to the widget_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#embed-code {
  background-color: #151618;
  color: white;
  border-width: 5px;
}

.widget-center .wi3-main {
  margin: 0px auto;
  margin-bottom: 20px;
}
.widget-row {
  padding-bottom: 20px;

  h2 {
    line-height: 1.2em;
  }

  h3 {
    font-weight: 300;
    line-height: 1.2em;
    font-size: 1.4em;

    strong {
      font-size: 1.1em;
    }
  }
}
ul.breadcrumb {
  color: gray;
  font-size: 30px;
  margin: 0 0 50px;
  padding: 14px 28px;
  
  display: block;

  li {
    line-height: 1em;

    a {
        color: gray;
        font-weight: 300;
      }

    &.active {
      a {
        color: #f2884c;
        font-weight: 800;
      }
      
    }
  }
}
.widget-preview {
  background-color: #ff92b4;
}

.center-button {
  text-align: center;
}

#instructions {
  font-size: 20px;
  line-height: 1.5em;
}

#status {
  height: 40px;
  color: #d03c39;
}

#new_widget {
  margin-bottom: 0px;
}

input#widget_url, input#widget_background_color {
  background-color: #151618;
  color: white;
  border-width: 5px;
}