// Place all the styles related to the widget_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.breadcrumb {
  color: gray;
  font-size: 30px;
  margin: 0 0 50px;
  padding: 14px 28px;
  
  display: block;

  li {
    line-height: 1em;

    a {
        color: gray;
        font-weight: 300;
      }

    &.active {
      a {
        color: #f2884c;
        font-weight: 800;
      }
      
    }
  }
}
.widget-preview {
  background-color: #ff92b4;
}