<% content_for :breadcrumb_nav do %>
  <nav>
    <ul class="breadcrumb">
      <%= nav_to 'Enter Project', wizard_path(:project) %>
      <li>></li>
      <%= nav_to 'Choose Size', wizard_path(:size) %>
      <li>></li>
      <%= nav_to 'Customize Color', wizard_path(:color) %>
    </ul>
  </nav>
<% end %>