<div id="intro" class="clearfix">
	<div class="span6 pull-left">
		<h1>Donors<span>Widget</span></h1>
	</div>
	<div class="span5 pull-left">
		<p>Easily share the causes you support online.</p>
		<%= link_to "Get Started", info_iteration1_path, :class => "btn btn-primary btn-xxxlarge" %>
	</div>
</div>