<div id="intro" class="row">
  <div class="span5 offset1">
    <h1><span>Donors</span>Widget</h1>
  </div>
  <div class="span6">
    <p>Easily share the causes you support online.</p>
    <%= link_to "Make a widget", widget_steps_path, class: "btn btn-primary btn-xxxlarge" %>
  </div>
</div>

<div class="home-info">
  <div class="row">
    <div class="span5 offset1">
      <div class="info">
        <h1>Share your favorite project</h1>
        <p>Share your favorite DonorsChoose projects. Spread the word about the school or teacher you want to support!</p>
      </div>
    </div>

    <div class="span6">
      <%= link_to image_tag("DonorsChoose-org-logo.png", id: "dc_logo"), "http://donorschoose.org" %>
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      <div class="info">
        <h1>Embeddable widgets</h1>
        <p>Create customizable widgets you can embed into any webpage.</p>
        
      </div>
    </div>

    <div class="span6">
      <script type='text/javascript' src="embeds/18.js"></script>
    </div>
  </div>


  <div class="row">
    <div class="span5 offset1">
      <div class="info">
        <h1>Analytics</h1>
        <p>Track the number of times your widget has been viewed. And, track the number of times people have clicked the widget.</p>
      </div>
    </div>

    <div class="span6">
      <div id="embed-code">This widget has been displayed <strong>1</strong> times, and has been clicked on <strong>0</strong> times.</pre>
    </div>
  </div>
</div>