<div class="box span7">
	<form class="well clearfix">
		<div class="form-group">
			<label>URL</label>
			<input type="text" class="span4" placeholder="Project URL">
		</div>
		<div class="form-group">
			<label>Size</label>
			<select class="chzn-select chzn-done">
				<option value="0">Choose a size</option>
				<option value="one">One</option>
				<option value="two">Two</option>
				<option value="three">Three</option>
				<option value="four">Four</option>
			</select>
		</div>
		<div class="form-group input-append color colorpicker" data-color="rgb(255, 146, 180)" data-color-format="hex" id="cp3">
			<label>Color</label>
		  <input type="text" class="span3" value="" placeholder="Choose a color" >
		  <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
		</div>
		<div class="form-group">
			<label>Code</label>
		  <input type="text" class="span4" placeholder="Code output">
		</div>
	</form>
</div>
<div class="box span4 widget">
</div>
<div class="span2 offset5">
	<%= link_to "Iteration 3", info_iteration3_path, :class => "btn btn-primary btn-large" %>
</div>

<script type="text/html" id='widget-template'>
	<%= render partial: 'templates/widget' %>
</script>

