<div class="box span7">
  <form class="well clearfix">
    <div class="form-group">
      <label>URL</label>
      <input type="text" class="span4" placeholder="Project URL">
    </div>
    <div class="form-group">
      <label>Code</label>
      <input type="text" class="span4" placeholder="Code output">
    </div>
  </form>
</div>
<div class="box span4 widget">
  <h2 class="school-name">Hello, Friends</h2>
  <img src="http://www.mommywantsvodka.com/wp-content/uploads/2011/03/Best-Picture-On-The-Internet1.jpg" />
  <div class="progress progress-success progress-striped active donations-bar-wrapper">
    <div class="bar donations-bar" style="width: 40%;"></div>
  </div>
  <div class="donations"><span class="given">$200</span> of <span class="needed">$248</span> donated!</div>
  <p class="description">Bacon ipsum dolor sit amet ea chicken bacon adipisicing. Biltong duis leberkas, hamburger aliqua in boudin venison. T-bone esse adipisicing, culpa spare ribs pancetta laborum cow. Leberkas bresaola t-bone, ea ut pork chop beef ribs ex. Ullamco aliquip jerky, ex nisi sirloin qui deserunt tri-tip andouille meatloaf sint mollit.</p>
  <button class="donate btn-large btn-danger pull-right">Donate</button>
  <a href="http://donorschoose.org" target="_blank">
    <img src="http://thesociallyconsciousblog.org/wp-content/uploads/2010/10/DonorsChoose_org_logo.jpg"/>
  </a>
</div>
<div class="span2 offset5">
  <%= link_to "Iteration 2", info_iteration2_path, :class => "btn btn-primary btn-large" %>
</div>