<div class="box span7">
	<form class="well clearfix">
		<div class="form-group">
			<label>URL</label>
			<input type="text" class="span4" placeholder="Project URL">
		</div>
		<div class="form-group">
			<label>Subject</label>
			<select class="chzn-select chzn-done">
				<option value="0">Choose a subject</option>
				<option value="one">Math</option>
				<option value="two">Reading</option>
				<option value="three">Science</option>
				<option value="four">History</option>
			</select>
  	</div>
		<div class="form-group">
			<label>City</label>
			<select class="chzn-select chzn-done">
				<option value="0">Choose a city</option>
				<option value="one">DC</option>
				<option value="two">Baltimore</option>
			</select>
  	</div>
		<div class="form-group">
			<label>Size</label>
			<select class="chzn-select chzn-done">
				<option value="0">Choose a size</option>
				<option value="one">One</option>
				<option value="two">Two</option>
				<option value="three">Three</option>
				<option value="four">Four</option>
			</select>
  	</div>
  	<div class="form-group input-append color colorpicker" data-color="rgb(255, 146, 180)" data-color-format="hex" id="cp3">
  		<label>Color</label>
  	  <input type="text" class="span3" value="" placeholder="Choose a color" >
  	  <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
  	</div>
		<div class="form-group">
			<label>Code</label>
  		<input type="text" class="span4" placeholder="Code output">
  	</div>
		<div class="form-group">
			<label>On Completion</label>
  		<input type="checkbox" class="span4 pull-left" placeholder="Code output">Display Random
  	</div>
	</form>
</div>
<div class="box span4 widget">
	<h2 class="school-name">Hello, Friends</h2>
	<img src="http://www.mommywantsvodka.com/wp-content/uploads/2011/03/Best-Picture-On-The-Internet1.jpg" />
	<div class="progress progress-success progress-striped active donations-bar-wrapper">
  	<div class="bar donations-bar" style="width: 40%;"></div>
	</div>
	<div class="donations"><span class="given">$200</span> of <span class="needed">$248</span> donated!</div>
	<p class="description">Bacon ipsum dolor sit amet ea chicken bacon adipisicing. Biltong duis leberkas, hamburger aliqua in boudin venison. T-bone esse adipisicing, culpa spare ribs pancetta laborum cow. Leberkas bresaola t-bone, ea ut pork chop beef ribs ex. Ullamco aliquip jerky, ex nisi sirloin qui deserunt tri-tip andouille meatloaf sint mollit.</p>
	<button class="donate btn-large btn-danger pull-right">Donate</button>
	<a href="http://donorschoose.org" target="_blank">
			<img src="http://thesociallyconsciousblog.org/wp-content/uploads/2010/10/DonorsChoose_org_logo.jpg"/>
	</a>
</div>
<div class="span2 offset5">
	<%= link_to "Iteration 1", info_iteration1_path, :class => "btn btn-primary btn-large" %>
</div>